# Core
NEXT_PUBLIC_SUPABASE_URL=your-project-url
NEXT_PUBLIC_SUPABASE_ANON_KEY=your-anon-key
SUPABASE_SERVICE_ROLE_KEY=your-service-role-key

# Yahoo
NEXT_YAHOO_CLIENT_ID=your-yahoo-client-id
NEXT_YAHOO_CLIENT_SECRET=your-yahoo-client-secret

# Stripe
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=<>
STRIPE_SECRET_KEY=<>
STRIPE_WEBHOOK_SECRET=<>
